.great-font{
    font-family: 'Great Vibes', cursive;
    font-size: 3.1rem;
}
.volkhov-font{
    font-family: 'Volkhov';
    font-size: 4rem;
    color: #094470;
    font-weight: 700;
}
.font-vol{
    font-family: 'Volkhov';
}